= render partial: 'devise/registrations/details'          
= render partial: 'devise/registrations/color'
= render partial: 'devise/registrations/nickname'
= render partial: 'devise/registrations/quotes'
= render partial: 'devise/registrations/cancel'
p
  = link_to "Back", :back, class: 'btn btn-default'
