defaults: &defaults
    domain: 'beta.fsrbash.dev'
    mailer_address: 'localhost'
    mailer_smtp_port: 1025
    jabber_id: 'hashbash@stei.gr/hashbash'
    nickname_format: >
     @([^:, \.\'"]+)
    tag_format: >
     #([^:, \.\'"]+)
development:
    <<: *defaults

test:
    <<: *defaults

staging:
    <<: *defaults
    domain: 'beta.fsrbash.de'
    mailer_address: 'mail.stei.gr'
    mailer_smtp_port: 25

production:
    <<: *defaults
    domain: 'fsrbash.de'
